.heroScrollTrack {
	--hero-scroll-extra: 200svh;
    width: 100%;
	height: calc(100svh + var(--hero-scroll-extra));
}

.heroSection {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100svh;
	width: 100%;
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;

	canvas {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.content {
    --max-width: 120rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: var(--max-width);
	gap: 2rem;

    padding: 0 5rem;
}

.title {
	font-size: 4.8rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
    animation: TextAnimation 1.2s ease forwards;
}

.description {
	font-size: 2rem;
	text-align: center;
	color: var(--color-text-secondary);
	max-width: 54rem;
	line-height: 1.2;
    opacity: 0;
    animation: TextAnimation 1.2s ease forwards;
    animation-delay: 0.2s;
}

.buttons {
	display: flex;
	gap: 1rem;
    opacity: 0;
    animation: TextAnimation 1.2s ease forwards;
    animation-delay: 0.5s;
}

.button {
	width: 30rem;
	padding: 0;
	font-size: 1.6rem;
	font-weight: 600;
	height: 5rem;
	transition: all 0.3s ease;
}


@media screen and (max-width: 950px) {
    .content {
        padding: 0 2rem;
        gap: 1rem;

        .title {
            font-size: 2.4rem;
        }

        .description {
            font-size: 1.4rem;

            max-width: 40rem;
        }

        .buttons {
            flex-direction: column;
            width: 100%;
            max-width: 40rem;
        }

        .button {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .content {
        padding: 0 1rem;
        
        .title {
            font-size: 1.8rem;
        }
    }
}

@keyframes TextAnimation {
    from {
        opacity: 0;
        transform: translateY(40%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}