---
import Layout from '../layouts/DefaultLayout.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import AboutMeSection from '../components/AboutMeSection/AboutMeSection.astro';

import mainPage from '@data/mainPage';
---

<Layout>
	<HeroSection {...mainPage.heroSection} />
	<div class="container">
		<AboutMeSection {...mainPage.aboutMeSection} />
	</div>
</Layout>

<style lang="scss">
	.container {
        margin: 0 ;
		width: 100%;
        padding: 0 5rem;
		max-width: 154rem;

        @media screen and (max-width: 950px) {
            padding: 0 2rem;
        }
	}
</style>
